@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --primary: orange;
  --gray: #ffffff7e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #111;
  color: #fff;
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.blur {
  width: 20rem;
  height: 20rem;
  background-color: #fff;
  position: absolute;
  left: 0;
  border-radius: 50%;
  filter: blur(200px);
}
.blur2 {
  width: 20rem;
  height: 20rem;
  background-color: #fff;
  position: absolute;
  right: 0;
  border-radius: 50%;
  filter: blur(200px);
}

@media (max-width: 1000px) {
  .blur {
    width: 15rem;
    height: 15rem;
  }
  .blur2 {
    width: 15rem;
    height: 15rem;
  }
}

.upBtn {
  position: fixed;
  bottom: 40px;
  right: 50px;
  background-color: #fff;
  color: #000;
  display: flex;
  padding: 6px;
  font-size: 1.4rem;
  cursor: pointer;
  box-shadow: 0 0 8px 0 #11111130;
  transform: translateX(100px);
  transition: 0.4s;
}

.upBtn.active {
  transform: translateX(0);
}